<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find livox_ros_driver)/launch/livox_lidar_rviz.launch">
        <arg name="msg_frame_id" value="radar"/>
        <arg name="rviz_enable" value="false"/>
    </include>

    <!-- This command builds the urdf files from the xacro files by calling the launch file -->
    <arg name="model" default="$(find dviratis_robotas)/urdf/dr_robotas.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <!-- Publish the states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/livox/lidar"/>
      <remap from="scan" to="/scan" />
    </node>

    <!-- launch rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dviratis_robotas)/config/rviz_config.rviz" />


</launch>
