<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="use_sim_time" value="false"/>

    <node pkg="dviratis_robotas" type="serial_port.py" name="serial_port"/>
    <node pkg="dviratis_robotas" type="odom_publisher.py" name="odometry"/>





    <!-- This command builds the urdf files from the xacro files by calling the launch file -->
    <arg name="model" default="$(find dviratis_robotas)/urdf/dr_robotas.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- Publish the states -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="use_tf_static" value="false"/>
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <!-- launch rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dviratis_robotas)/config/rviz_config.rviz" />

</launch>
